

<div layout="column">
  <md-content layout-padding>

    <form name="userForm">

      <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
        <div flex-gt-sm="80">
          <p>Bienvenido, lo guíaremos a travez del proceso de votación de la 12ª Bienal de Arte Joven</p>
        </div>
      </div>

      <!-- Nombre y Apellido -->
      <div layout-gt-sm="row">
        <!-- Nombre -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>Nombre</label>
          <input required name="nombre" ng-model="PC.nombre" />
          <div ng-messages="userForm.nombre.$error">
            <div ng-message="required">El nombre es un campo obligatorio.</div>
          </div>
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>
        <!-- Apellido -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>Apellido</label>
          <input name="apellido" ng-model="PC.apellido" />
          <div ng-messages="userForm.apellido.$error">
            <div ng-message="required">El apellido es un campo obligatorio</div>
          </div>
        </md-input-container>
      </div>


      <!-- Email y DNI -->
      <div layout-gt-sm="row">
        <!-- Email -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input name="email" ng-model="PC.email"
                 required maxlength="100" ng-pattern="/^[A-Z0-9._%+-]+@(?:[A-Z0-9-]+\.)+[A-Z]{2,}$/igm" />
          <div ng-messages="userForm.email.$error" ng-hide="showHints">
            <div ng-message-exp="['required', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>
        <!-- DNI -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>DNI</label>
          <input name="phone" ng-model="user.phone" ng-pattern="/^(?=[0-9]*$)(?:.{7}|.{8})$/" />
          <div ng-messages="userForm.phone.$error">
            <div ng-message="pattern">Números solamente, sin caracteres especiales</div>
          </div>
        </md-input-container>
      </div>


    </form>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-fab" aria-label="Eat cake">
        <md-icon ng-style="{color: white}" aria-label="algo" class="material-icons step" ng-class="md-24">
          person
        </md-icon>
        <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
      </md-button>
    </section>

  </md-content>
</div>
