<div layout="row" layout-align="space-around center" flex="50">
  <div layout="row" flex>
    <md-icon md-svg-src="img/svg/ic_mood_bad_black_48px.svg" style="width:120px;height:120px;"></md-icon>
    <p>
      Algo salió mal, tal vez votaste anteriormente.<br>si no es así consulte al personal por ayuda.
    </p>
  </div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-fab" aria-label="person" ng-click="goHome()">
      <md-icon md-svg-src="img/svg/ic_clear_white_36px.svg"></md-icon>
    </md-button>
  </section>
</div>
